.lila{
    background-color: thistle;
}

.morado{
    background-color: blueviolet;
}

div{
    height: 25px;
}

@media (max-width: 600px){
    h1{
        font-size: medium;
    }
    h2{
        font-size: small;
    }
}